<h1>Directivas</h1>
<h2>De atributos</h2>
<p [ngClass]="{letraAzul: aplicaLetraAzul, subrayado: true}">Texto con letra azul y sburayado</p>
<button type="button" (click)="aplicaLetraAzul = !aplicaLetraAzul">Pintar letra</button>

<p [ngStyle]="{backgroundColor: miFondo, color: 'orange'}">Texto con fondo {{miFondo}} y letra naranja</p>
<input type="text" (input)="miFondo = $event.target.value" [value]="miFondo">

<!-- <p appMarcar [color]="miFondo">Texto marcado</p>
<p appMarcar color="orange">Texto marcado</p> -->
<p appMarcar="orange">Texto marcado</p>


<h2>Estructurales</h2>

<p *ngIf="aplicaLetraAzul; else parteElse">Se muestra: aplicaLetraAzul == true</p>
<ng-template #parteElse>
  <p>Se muestra (else)</p>
</ng-template>


<ul>
  <li *ngFor="let item of colores; let pos = index">{{pos+1}}:{{item}}</li>
</ul>

<ul>
  <li *ngFor="let item of pelicula | keyvalue">{{item.key}} : {{item.value}}</li>
</ul>

<div [ngSwitch]="miFondo">
  <p *ngSwitchCase="'black'">El color es negro</p>
  <p *ngSwitchCase="'white'">El color es blanco</p>
  <p *ngSwitchDefault>El color es {{miFondo}}</p>
</div>